* {
    padding: 0em;
    margin:0em;
}

:root{
    --backgroundcolor: #E0E0E0;
    --txtcolor: #4A403E;
    --linkcolor:#793800;
    --visitedlinkcolor:#ff6200;
    --vislinkonblack:#ff684d;
    --linkcoloronblack:#ffd062;
}

html, body{   /*si applica ovunque*/
    font-size: 100%;    /*grande quanto decide l'utente*/
    font-family: "Lexend", Roboto, sans-serif;  /*Lexend lo metto tra "" perché non so se lo ha*/
    line-height: 1.5em;   /*IMPARALO!!!*/
}

html{
    scroll-behavior: smooth;
    background-color: var(--backgroundcolor);
    color: var(--txtcolor);
    margin: auto;
}

/*gesione animazioni*/
@media (prefers-reduced-motion: reduce) {
  /* Disattiva tutte le transizioni e animazioni */
  * {
    animation: none !important;
    transition: none !important;
  }

  /* Disattiva anche lo scroll "fluido" */
  html {
    scroll-behavior: auto !important;
  }
}

/*breadcrumb styles*/
#breadcrumb{
    text-align: right;
    position: sticky; /* Diventa "appiccicoso" */
    top: 0;           /* Si attacca all'alto */
    background-color: var(--backgroundcolor);
    padding: 0.5em;
    z-index: 100;

    display: flex;
    align-items: center;    /* Centra verticalmente testo e immagine */
    justify-content: space-between;
    padding: 0.5em 1em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);; /*bordino ombrato*/
    margin-left: 0.9em;
    margin-right: 0.9em;

    /*voglio che si nasconda quando salgo*/
}
.breadcrumbG{
    height: 2em;  /* Altezza relativa alla dimensione del testo (così si adatta) */
    width: auto;    /* Mantiene le proporzioni */
    
}
#menu{
    display: flex;
    gap:20px;
    
}
#breadcrumb a:visited{
    color: var(--txtcolor);
}
#breadcrumb a:link{
    color: var(--txtcolor);
}


/*header styles*/
#index{
    padding: 0em 0em;
    margin: 0em;
    background-image: url("../images/sfondo.svg");
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

    overflow: hidden;
}
#index img{
    position: absolute;
    width: 19em;

    will-change: transform;
}
.scorre_giu{
    top: 3em;
    right: 1em;
    max-width: 17em;

}
.scorre_su{
    bottom: -20px;
    left:0px;
}


/*main content*/
main{
    background-color: var(--txtcolor);
    color: var(--backgroundcolor);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 5em;
}
main h1{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 3em;
}
main h2{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}
main p{
    text-align: center;
    line-height: 2em;
    margin-left: 10em;
    margin-right: 10em;
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}
main a:visited{
    color: var(--txtcolor);
}
main a:link{
    color: var(--txtcolor);
}

/*content inside main*/
.content{
    height: 80vh;
    scroll-margin-top: 5em; /*spazio tra inizio sezione e breadcrumb*/
}
.content ul{
    list-style-type: none;
    text-align: center;
}

/*presentazione section*/
.presentazione{
    display: flex;
    align-items: center;
    gap: 2em;
}
.presentazione img{
    width: 12em;
    height: auto;
    border-radius: 1em;
    margin-left: 10em;
    margin-right: 2em;
    margin-top: 2em;
}
.presentazione p{
    color: var(--txtcolor);
    background-color: var(--backgroundcolor);
    margin-left: 0em;
    margin-right: 10em;
    margin-top: 2em;
    flex: 1;
    text-align: center;
}

.griglia_elementi{
    display: grid;
    grid-template-columns: 1fr 1fr;/* due colonne uguali */
    grid-auto-rows: 50vh;/* Ogni riga è alta metà schermo (50% della Viewport Height) */
    padding: 2em;
    gap: 1em;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--txtcolor);
}
.grid_card{
    position: relative;
    display: flex; /*centro testo*/
    justify-content: center;
    align-items: flex-end;
    color: var(--backgroundcolor);
}
.grid_card img{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.card_content{
    position: relative;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
}

/*separatore G*/
.g_separatore {
    height: 3em; 
    width: auto;
    background-image: url('../images/G.jpg');
    background-repeat: repeat-x; /*ripete solo orizzontalmente */
    background-position: center; /* Centra le G verticalmente nel div */
    background-size: auto 130%;
    margin-top: 5em;
    margin-bottom: 5em;

    /*forzare l'uscita del padding del main e toccare sx e dx*/
    margin-left: -1em; 
    margin-right: -1em;
    width: auto;

    /*aggiungo un piccolo border*/
    border-top: 2px solid var(--txtcolor);
    border-bottom: 2px solid var(--txtcolor);
}

.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;      /* Spazio tra le celle */
    margin: 0 auto; /* Centra la griglia se c'è spazio extra */
    max-width: 55em; /* Limita la larghezza massima della galleria */
}
.gallery figcaption{
    font-size: smaller;
    padding-bottom: 2em;
    text-align: center;
}
.gallery img{
    width: 100%;
    height: auto;
}


/*footer*/
footer p {
    text-align: center;
    font-style: italic;
    font-size: small; /*small è meglio di 0.74em, tipico del footer e della breadump */
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: var(--main-color);
    color: var(--txtcolor);
}

#backtotop{
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1000;

    /*stile del pulsante*/
    background-color: var(--backgroundcolor);
    background-image: url('../images/arrow,.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 50%; /* Fai l'icona un po' più piccola del pulsante */
    border-radius: 50%;
    border: 2px solid var(--txtcolor);

    /* Sposta il testo fuori dallo schermo, ma lo lascia leggibile per gli screen reader */
    text-indent: -9999px;
    overflow: hidden; /* Assicura che non si veda il testo spostato */

    width: 3em;
    height: 3em;

    /* STATO INIZIALE: NASCOSTO */
    opacity: 0;
    visibility: hidden; 
    /* Transizione morbida */
    transition: all 0.3s ease;
}
/* STATO VISIBILE (JS aggiungerà questa classe) */
#backtotop.show {
    opacity: 1;
    visibility: visible;
}