* {
    padding: 0em;
    margin:0em;
}

:root{
    --backgroundcolor: #E0E0E0;
    --txtcolor: #4A403E;
    --linkcolor:#793800;
    --visitedlinkcolor:#ff6200;
    --vislinkonblack:#ff684d;
    --linkcoloronblack:#ffd062;
}

html, body{   /*si applica ovunque*/
    font-size: 100%;    /*grande quanto decide l'utente*/
    font-family: "Lexend", Roboto, sans-serif;  /*Lexend lo metto tra "" perché non so se lo ha*/
    line-height: 1.5em;   /*IMPARALO!!!*/
}

body.no-scroll{
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
    background-color: var(--backgroundcolor);
    color: var(--txtcolor);
    margin: auto;
}

/*---------------------------------------------------------------------------------------------
===============================================================================================
-----------------------------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------
==================================GESTIONE ANIMAZIONI==========================================
----------------------------------------------------------------------------------------------*/

@media (prefers-reduced-motion: reduce) {
  /* Disattiva tutte le transizioni e animazioni */
  * {
    animation: none !important;
    transition: none !important;
  }

  /* Disattiva anche lo scroll "fluido" */
  html {
    scroll-behavior: auto !important;
  }
}


/*---------------------------------------------------------------------------------------------
============================================Breadcrumb=========================================
----------------------------------------------------------------------------------------------*/

#breadcrumb{
    text-align: right;
    position: sticky; /* Diventa "appiccicoso" */
    top: 0;           /* Si attacca all'alto */
    background-color: var(--backgroundcolor);
    padding: 0.5em;
    z-index: 100;

    display: flex;
    align-items: center;    /* Centra verticalmente testo e immagine */
    justify-content: space-between;
    padding: 0.5em 1em;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);; /*bordino ombrato*/
    margin-left: 0.9em;
    margin-right: 0.9em;

    /*voglio che si nasconda quando salgo*/
}
#br_c{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#br_dx{
    display: flex;
    gap: 1.5em;
    align-items: center;
}
.breadcrumbG{
    height: 2em;
    width: auto;
}
#menu{
    display: flex;
    gap:20px;
}
#breadcrumb a:visited{
    color: var(--txtcolor);
}
#breadcrumb a:link{
    color: var(--txtcolor);
}


/*---------------------------------------------------------------------------------------------
============================================Separatore=========================================
----------------------------------------------------------------------------------------------*/
.g_separatore {
    height: 3em; 
    width: auto;
    background-image: url('../images/G.jpg');
    background-repeat: repeat-x; /*ripete solo orizzontalmente */
    background-position: center; /* Centra le G verticalmente nel div */
    background-size: auto 130%;
    margin-top: 5em;
    margin-bottom: 5em;

    /*forzare l'uscita del padding del main e toccare sx e dx*/
    margin-left: -1em; 
    margin-right: -1em;
    width: auto;

    /*aggiungo un piccolo border*/
    border-top: 2px solid var(--txtcolor);
    border-bottom: 2px solid var(--txtcolor);
}


/*---------------------------------------------------------------------------------------------
============================================Header============================================
----------------------------------------------------------------------------------------------*/
#index{
    padding: 0em 0em;
    margin: 0em;
    background-image: url("../images/sfondo_svg.svg");
    background-size: auto 60%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}
#index img{
    position: absolute;
    width: 19em;
    z-index: -9999;
    will-change: transform;
}
.scorre_giu{
    top: 3em;
    right: 1em;
    max-width: 17em;
}
.scorre_su{
    bottom: -20px;
    left:0px;
}


/*---------------------------------------------------------------------------------------------
============================================MAIN===============================================
----------------------------------------------------------------------------------------------*/
main{
    background-color: var(--txtcolor);
    color: var(--backgroundcolor);
    margin-left: 1em;
    margin-right: 1em;
    padding-bottom: 3em;
}
main h1{
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 3em;
}
main h2{
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-size: 2em;
}
main p{
    text-align: center;
    line-height: 2em;
    margin-left: 2em;
    margin-right: 2em;
    padding-bottom: 3em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 1em;
}
main a:visited{
    color: var(--backgroundcolor);
}
main a:link{    
    color: var(--backgroundcolor);
}

/*---------------------------------------------------------------------------------------------
============================================Content============================================
----------------------------------------------------------------------------------------------*/
.content{
    min-height: 80vh;
    scroll-margin-top: 3em; /*spazio tra inizio sezione e breadcrumb*/
}

/*---------------------------------------------------------------------------------------------
==========================================Presentazione=========================================
----------------------------------------------------------------------------------------------*/
.presentazione{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.presentazione img{
    width: 12em;
    height: auto;
    border-radius: 1em;
    margin-left: 2em;
}
.presentazione p{
    color: var(--txtcolor);
    background-color: var(--backgroundcolor);
    padding-top: 2em;
    flex: 1;
    text-align: center;
}


/*---------------------------------------------------------------------------------------------
============================================Griglia El=========================================
----------------------------------------------------------------------------------------------*/
.griglia_elementi{
    display: grid;
    grid-template-columns: 1fr 1fr;/* due colonne uguali */
    grid-auto-rows: 50vh;/* Ogni riga è alta metà schermo (50% della Viewport Height) */
    padding: 2em;
    gap: 1em;
    max-width: 1400px;
    margin: 0 auto;
    background-color: var(--txtcolor);
}
.grid_card{
    position: relative;
    display: flex; /*centro testo*/
    justify-content: center;
    align-items: flex-end;
    color: var(--backgroundcolor);
}
.grid_card img{
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.card_content{
    position: relative;
    z-index: 3;
    text-align: center;
    text-transform: uppercase;
     color: #4A403E;
}


/*---------------------------------------------------------------------------------------------
============================================Gallery=========================================
----------------------------------------------------------------------------------------------*/
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5em;      /* Spazio tra le celle */
    margin: 0 4em;
    padding-right: 2em;
    padding-left: 2em;
}
.gallery figcaption{
    font-size: smaller;
    padding-bottom: 2em;
    text-align: center;
}
.gallery img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.gallery .item{
    cursor: pointer;
    transition: transform 0.2 ease;
}
.gallery .item:hover{
    transform: scale(1.02);
    filter: drop-shadow(0 5px 15px rgba(0,0,0,0.3));
}


/*---------------------------------------------------------------------------------------------
============================================Avvento===========================================
----------------------------------------------------------------------------------------------*/
#avvento-tree {
    display: flex;
    flex-direction: column; /* impila le righe*/
    align-items: center;    /* Centra tutto l'albero nella pagina */
    padding: 4em 1em;
    background-color: var(--txtcolor);
}
.tree-row {
    display: flex;
    justify-content: center; /* Centra gli elementi nella riga */
    flex-wrap: wrap;/*Se lo schermo è piccolo, vai a capo senza rompere tutto */
    gap: 1.5em;
    margin-bottom: 1em;/*Spazio tra i piani*/
    width: 100%;
}
.advent-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}
.door{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #615452;
    color: var(--backgroundcolor);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.3em;

    z-index: 3;
    transition: transform 0.6s ease, opacity 0.5s;
    transform-origin: left;

}
.advent-item img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    
    /* Ombra leggera per staccarle dallo sfondo */
    filter: drop-shadow(0 5px 5px rgba(255, 255, 255, 0.3));
    backface-visibility: hidden;
}
.star img {
    width: 120px;
    height: 120px;
    filter: drop-shadow(0 0 15px gold);
    z-index: 5;
}
.trunk img {
    width: 90px;
    height: 90px;
    transform: none;
}
.ground img{
    width: 100px;
    height: 100px;
    height: auto;
    transform: none;
}
.advent-item:not(.closed) .door {
    transform: perspective(300px) rotateY(-110deg);
    opacity: 0;
    pointer-events: none;
}

.reset_container{
    text-align: center;
}
#reset-btn{
    background-color: var(--backgroundcolor);
    float:right;
    margin-right: 2em;
    color: var(--txtcolor);
    border: 2px solid var(--txtcolor);
    padding: 0.2em 1em;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}



/*---------------------------------------------------------------------------------------------
============================================Overlay=========================================
----------------------------------------------------------------------------------------------*/
.lightbox-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(26, 23, 20, 0.9); /* Molto scuro */
    z-index: 9999; /* Sopra a tutto il resto */
    
    display: none; /* Nascosto di default */
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    cursor: zoom-out; /* Dice all'utente che cliccando esce */
}

/* L'immagine zoomata */
.lightbox-overlay img {
    max-width: 90%;
    max-height: 70vh;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255,255,255,0.2);
    cursor: default;
}
/* Classe per mostrare la lightbox */
.lightbox-overlay.active {
    display: flex;
    animation: fadeIn 0.3s ease;
}
#lightbox-caption {
    color: var(--backgroundcolor);
    margin-left: 1em;
    margin-top: 10px;
    font-size: 1em;
    max-height: 20vh;
    font-family: 'Lexend', sans-serif;
    text-align: center;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/*---------------------------------------------------------------------------------------------
============================================Contatti===========================================
----------------------------------------------------------------------------------------------*/
.contact_layout{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.laterale_sx, .laterale_dx{
    flex: 1;
}
.laterale_dx {
    text-align: center;
}
/* Se vuoi i link belli spaziati */
.laterale_dx ul {
    list-style-type: none;
    text-align: center;
}
.laterale_dx li {
    margin-bottom: 1em;
}


/*---------------------------------------------------------------------------------------------
============================================Footer=============================================
----------------------------------------------------------------------------------------------*/
footer p {
    text-align: center;
    font-style: italic;
    font-size: small; /*small è meglio di 0.74em, tipico del footer e della breadump */
    padding-bottom: 1em;
    padding-top: 1em;
    background-color: var(--main-color);
    color: var(--txtcolor);
}

#backtotop{
    position: fixed;
    bottom: 15px;
    right: 20px;
    z-index: 1000;

    /*stile del pulsante*/
    background-color: var(--backgroundcolor);
    background-image: url('../images/arrow,.png');
    background-repeat: no-repeat;
    background-position: center ;
    background-size: 50%; /* Fai l'icona un po' più piccola del pulsante */
    border-radius: 50%;
    border: 2px solid var(--txtcolor);

    /* Sposta il testo fuori dallo schermo, ma lo lascia leggibile per gli screen reader */
    text-indent: -9999px;
    overflow: hidden; /* Assicura che non si veda il testo spostato */

    width: 3em;
    height: 3em;

    /* STATO INIZIALE: NASCOSTO */
    opacity: 0;
    visibility: hidden; 
    /* Transizione morbida */
    transition: all 0.3s ease;
}

#backtotop.show {
    opacity: 1;
    visibility: visible;
}